<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest-Assured API Test Suite">
    <listeners>
        <listener
                class-name="com.erudex.utils.TestListener"/>
    </listeners>
    <suite-files>
        <suite-file path="loginsuiteRA.xml"/> 
        <suite-file path="loginsuiteApache.xml"/>             
    </suite-files>
</suite> <!-- Suite -->